* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
#gameContainer {
  text-align: center;
}
#gameBoard {
  border: 3px solid;
}
#scoreText {
  font-family: "Permament Maker", cursive;
  font-size: 100px;
}
@media (max-width: 720px) {
  #scoreText {
    font-size: 50px;
  }
}
#buttons {
  margin-inline: auto;
  display: flex;
  justify-content: center;
}
#startBtn,
#resetBtn {
  font-family: "Permament Maker", cursive;
  font-size: 22px;
  width: 80px;
  height: 50px;
  border: 4px solid;
  border-radius: 15px;
  cursor: pointer;
}
@media (min-width: 720px) {
  #startBtn,
  #resetBtn {
    margin-right: 10px;
  }
}
#controls {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: gray;
  border: 2px solid;
  border-radius: 50%;
  display: none;
}
.btn {
  font-size: 1.5rem;
  position: absolute;
  border: none;
  border-radius: 0;
  background-color: gray;
  border: none;
  cursor: pointer;
}
i {
  pointer-events: none;
}
.top {
  background: linear-gradient(135deg, #65ff9a 72.5%, transparent 10px) top right,
    linear-gradient(-135deg, #65ff9a 72.5%, transparent 10px) top left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 50% 2.5px;
  border-top-right-radius: 50% 2.5px;
  padding: 1em 0.5em;
  padding-bottom: 1.75em;
}
.right {
  background: linear-gradient(
        135deg,
        transparent 15px,
        #65ff9a 15px,
        #65ff9a 100%
      )
      top right,
    linear-gradient(45deg, transparent 15px, #65ff9a 15px, #65ff9a 100%) bottom
      right;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 2.5px 50%;
  border-bottom-right-radius: 2.5px 50%;
  padding: 0.25em 1.375em;
}
.left {
  background: linear-gradient(
        -135deg,
        transparent 15px,
        #65ff9a 15px,
        #65ff9a 100%
      )
      top right,
    linear-gradient(-45deg, transparent 15px, #65ff9a 15px, #65ff9a 100%) bottom
      left;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-top-left-radius: 2.5px 50%;
  border-bottom-left-radius: 2.5px 50%;
  padding: 0.25em 1.375em;
}
.bottom {
  background: linear-gradient(
        135deg,
        transparent 15px,
        #65ff9a 15px,
        #65ff9a 100%
      )
      bottom left,
    linear-gradient(-135deg, transparent 15px, #65ff9a 15px, #65ff9a 100%)
      bottom right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 50% 2.5px;
  border-bottom-right-radius: 50% 2.5px;
  padding: 1.25em 0.5em;
}
